@charset "UTF-8";
body {
	background-repeat: repeat;
	background-color: #333333;
	color: #FFF;
	font-family: 'Luckiest Guy', sans-serif;
	font-size: 16px;
}

.instrument {
}


#instrumentBox  {
	margin-top: 5%;
	margin-left: 3%;
	display: grid;
	max-width: 800px;
	background-color: #efefef;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

button {
	grid-column: 4/1;
}


